@import "../../../global-colors";

.card {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-around;

  img {
    max-width: 150px;
    clip-path: circle();
    object-fit: contain;
    align-self: flex-start;
    margin-top: 20px;
  }
  .info {
    margin: 20px;
    h1 {
      font-size: 25px;
      margin-bottom: 0;
    }
    h2 {
      font-size: 18px;
      color: #555;
      color: $treedo-branch;
    }
    p {
      line-height: 150%;
      text-align: justify;
      color: #444;
      max-width: 400px;
    }
  }

  .social-icons {
    margin-top: 10px;

    display: flex;
    justify-content: flex-start;
  }
  i {
    font-size: 25px;
    color: $treedo-leaf;
    margin-right: 10px;
  }
  a:hover {
    transform: scale(1.05);
  }
}
