<div class="container">
    <div class="sidenav">
        <div class="image-section">
            <img src="assets/images/placeholder-profile-image.png" alt="">
        </div>
        <div class="menu">
            <ul>
                <li [ngClass]="tab === 'account' ? 'selected' : ''" (click)="selectAccountTab()">Account</li>
                <li [ngClass]="tab === 'payment' ? 'selected' : ''" (click)="selectPaymentTab()">Payment</li>
                <li [ngClass]="tab === 'notifications' ? 'selected' : ''" (click)="selectNotificationsTab()">Notifications</li>
            </ul>
        </div>
    </div>
    <div class="content">
        <app-account-settings *ngIf="tab === 'account'"></app-account-settings>
        <app-notifications-settings *ngIf="tab === 'notifications'"></app-notifications-settings>
        <app-payment-settings *ngIf="tab === 'payment'"></app-payment-settings>
    </div>

</div>