<div class="header">
    <h1 class="mat-display-3">About us</h1>
</div>
<div class="social-links">
    <p>Follow us on social media to hear news, updates, and get fresh tips from our team</p>
    <div class="social-icons">
        <a href="#" target="_blank">
            <i class="fab fa-facebook"></i>
        </a>
        <a href="#">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="#">
            <i class="fab fa-instagram"></i>
        </a>
    </div>
</div>
<div class="presentation-cards">
    <app-presentation-card name="Edgar Cetina" occupation="Data Analyst" founderImg="/assets/images/founders/EdgarCetina.jpg">
        Lorem ipsum my name is Edgar Cetina and I'm the founder of Verato
    </app-presentation-card>
    <app-presentation-card name="Maurizio Tonelli" occupation="Software Engineer" founderImg="/assets/images/founders/MaurizioTonelli.jpeg"> 
        For every project, there is always the question of where to start, and what to do next. My main objective is to build the tool to help you discover that answer for your own projects every day, and allow them to exceed all expectations.
    </app-presentation-card>
</div>
<div class="more-questions">
    <h1 class="mat-display-1"> Have any questions?</h1>
    <a routerLink="/contact">
        <button mat-raised-button color="accent" > Contact us</button>
    </a>
</div>
<div class="signup-promo">
    <h1 class="mat-display-1">
        Create your treedo in minutes!
    </h1>
    <p class="mat-body-2"> Join our growing community and improve your projects right away</p>
    <button mat-raised-button color="accent"> Get started</button>
</div>